/* playerSearch.css */

.input-container {
    position: relative;
  }
  
  .input-field {
    width: 100%;
    background-color: #282c34; /* Dark background color */
    color: #fff; /* White text color */
    border: 1px solid #ccc; /* Border color */
    padding: 8px; /* Padding */
  }
  
  .dropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1;
    background-color: #282c34; /* Dark background color */
    color: #fff; /* White text color */
    border: 1px solid #ccc; /* Border color */
    width: auto; /* Auto width */
  }
  
  .dropdown-item {
    padding: 8px;
    cursor: pointer;
  }
  