/* Quarto.css */
.quarto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .tablero {
    flex: 1; /* El tablero ocupa el espacio restante */
  }
  
  .fichas-seleccionables {
    max-width: 400px; /* Ajusta el valor según sea necesario */
    margin-left: 20px; /* Ajusta el valor según sea necesario */
  }
  
  .fichas-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px; /* Ajusta el valor del gap según sea necesario */
  }
  
  .fila {
    display: flex;
  }
  
  .celda {
    width: 80px; /* Adjust the width to make the squares bigger */
    height: 80px; /* Adjust the height to make the squares bigger */
    border: 1px solid #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .celda.seleccionada {
    background-color: #61dafb; /* Color when selected */
  }
  
  .celda:nth-child(even) {
    background-color: #ccc; /* Alternate background for chessboard-like design */
  }
  
  .jugadores-laterales {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .jugador1,
  .jugador2 {
    margin-bottom: 20px;
    text-align: center;
  }
